<div class="row">
  <h2 class="h1 bold fs-50" id="typography">1. Typography</h2>
  <div class="p-10"></div>
  <h2>1.1 Headings</h2>
  <p>Base font family is Roboto with default h1 - h4 and p tags.</p>
  <div class="border p-40">
    <h1>Heading h1</h1>
    <h2>Heading h2</h2>
    <h3>Heading h3</h3>
    <h4>Heading h4</h4>
    <p>Paragraph p</p>
  </div>
  <hr class="bg-platinum my-100" />
  <div class="row">
    <h2>1.2 Type scale</h2>
    <p>Use the <strong>.h1</strong> - <strong>.h4</strong> and <strong>.p </strong>type scale utilities to make an element appear
      as though it is a h1 - h4 or p element even if it is not. This is useful for altering the visual appearance of semantically
      correct headings.</p>
    <div class="border p-40">
      <h2 class="h1">Make anything look like h1</h2>
      <div class="h2">Make anything look like h2</div>
      <p class="h3">Make anything look like h3</p>
      <h1 class="h4">Make anything look like h4</h1>
      <h3 class="p">Make anything look like p</h3>
    </div>
    <div class="p-10"></div>
  <hr class="bg-platinum my-100" />
  <div class="row">
    <h2>1.3 Font Sizes</h2>
    <p>Use the <strong>.fs-*</strong> (where * is equal to font size) font-size utility to override an element’s default font
      size. Available font sizes range from 10px to 50px in increments of 2px.</p>
    <div class="border p-40">
      <p class="fs-10">Font size 10</p>
      <p class="fs-12">Font size 12</p>
      <p class="fs-14">Font size 14</p>
      <p class="fs-16">Font size 16</p>
      <p class="fs-18">Font size 18</p>
      <p class="fs-20">Font size 20</p>
      <p class="fs-22">Font size 22</p>
      <p class="fs-24">Font size 24</p>
      <p class="fs-26">Font size 26</p>
      <p class="fs-28">Font size 28</p>
      <p class="fs-30">Font size 30</p>
      <p class="fs-32">Font size 32</p>
      <p class="fs-34">Font size 34</p>
      <p class="fs-36">Font size 36</p>
      <p class="fs-38">Font size 38</p>
      <p class="fs-40">Font size 40</p>
      <p class="fs-42">Font size 42</p>
      <p class="fs-44">Font size 44</p>
      <p class="fs-46">Font size 46</p>
      <p class="fs-48">Font size 48</p>
      <p class="fs-50">Font size 50</p>
    </div>
    <div class="p-10"></div>
  <hr class="bg-platinum my-100" />
  <div class="row">
    <h2>1.4 Responsive Font Sizes 📱 💻</h2>
    <p>Use the screen prefixes (<strong>phone-</strong>, <strong>tablet-</strong>, <strong>laptop-</strong>, or <strong>desktop-</strong>)
      to explicitly set the font size based on screen size. Resize layout to see in action.</p>
    <div class="border p-40 mt-10">
      <p class="fs-14 tablet-fs-20">Mobile 14, Tablet 20, Laptop 14, Desktop 14</p>
      <p class="fs-18 mobile-fs-30">Mobile 30, Tablet 18, Laptop 18, Desktop 18</p>
      <p class="mobile-fs-10 tablet-fs-20 laptop-fs-30 desktop-fs-40">Mobile 10, Tablet 20, Laptop 30, Desktop 40</p>
    </div>
  <hr class="bg-platinum my-100" />
  <div class="row">
    <h2>1.5 Line Height</h2>
    <p>Use the <strong>.lh-*</strong> (where * is small, regular or large) line height utility to override an element’s default
      line height.</p>
    <div class="border p-40">
      <p class="lh-small"><strong>Small line height</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.</p>
      <p class="lh-regular"><strong>Regular / default line height</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.</p>
      <p class="lh-big"><strong>Big line height</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        ut aliquip ex ea commodo consequat.</p>
    </div>
    <div class="p-10"></div>
  <hr class="bg-platinum my-100" />
  <div class="row">
    <h2>1.6 Font Styles</h2>
    <p>Change typographic weights, styles, and alignment with these utility styles.</p>
    <div class="border p-40">
      <p class="bold">Bold</p>
      <p><strong>Bold with a strong tag</strong></p>
      <p class="regular">Regular</p>
      <p class="italic">Italic</p>
      <p><em>Italic with an em tag</em></p>
      <p class="caps">Caps</p>
      <p class="left-align">Left align</p>
      <p class="center-align">Center align</p>
      <p class="right-align">Right align</p>
      <p class="justify">Justify Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
        sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="nowrap">No wrap</p>
      <p class="underline">Underline</p>
      <p class="truncate">Truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duisaute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="text-decoration-none">Text Decoration None</a>
    </div>
    <div class="p-20"></div>
  <hr class="bg-platinum my-100" />
  <div class="row">
    <h2>1.7 Responsive Font Styles 📱 💻 </h2>
    <p>Use the screen prefixes (<strong>phone-</strong>, <strong>tablet-</strong>, <strong>laptop-</strong>, or <strong>desktop-</strong>)
      to explicitly set the font style based on screen size. Resize layout to see in action.</p>

    <div class="border p-40 mt-10">
      <p class="phone-bold">Bold only on phone</p>
      <p class="tablet-italic">Italic only on tablet</p>
      <p class="laptop-caps">Caps only on laptop</p>
      <p class="phone-center">Center only on phone</p>
      <p class="phone-right-align">Right align only on desktop</p>
      <p class="phone-justify">Justify only on phone. Bacon Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
        ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="tablet-underline">Underline only on tablet</p>
      <p class="phone-fs-10">This font will be size 10 only on phones</p>
      <p class="phone-truncate only on phone">Truncate Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duisaute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a href="#" class="phone-text-decoration-none">Text decoration none only on phone</a>
    </div>
    <div class="p-10"></div>
  <hr class="bg-platinum my-100" />
  <div class="row">
    <h2>1.7 Lists</h2>

    <h3 class="bold">1.7.1 Unordered Lists</h3>
    <div class="border p-40">
      <ul>
        <li>Unordered Lists</li>
        <li>Unordered Lists</li>
        <li>Unordered Lists</li>
        <li>Unordered Lists</li>
      </ul>
    </div>
    <div class="p-10"></div>
    <div class="p-30"></div>
    <h3 class="bold">1.7.2 Ordered Lists</h3>
    <div class="border p-40">
      <ol>
        <li>Ordered Lists</li>
        <li>Ordered Lists</li>
        <li>Ordered Lists</li>
        <li>Ordered Lists</li>
      </ol>
    </div>
    <div class="p-10"></div>
    <div class="p-30"></div>
    <h3 class="bold">1.7.3 Remove default styling</h3>
    <p>Use the <strong>.list-reset</strong> utility to remove default stygling</p>
    <div class="border p-40">
      <ul class="list-reset">
        <li>List Reset</li>
        <li>Removes bullets</li>
        <li>Removes numbers</li>
        <li>Removes padding</li>
      </ul>
    </div>
    <div class="p-10"></div>
    <div class="p-30"></div>
    <h3 class="bold">1.7.4 Inline Lists</h3>
    <p>Use the <strong>.inline-block</strong> utility to set lists to be inline.</p>
    <div class="border p-40">
      <ul class="list-reset">
        <li class="inline-block">.inline-block</li>
        <li class="inline-block">.inline-block</li>
        <li class="inline-block">.inline-block</li>
        <li class="inline-block">.inline-block</li>
      </ul>
    </div>
    <div class="p-10"></div>
    <div class="p-30"></div>
    <h3 class="bold">1.7.5 Tick Lists</h3>
    <p>Use the <strong>.tick-list</strong> utility to use use the tick as the bullet image.</p>
    <div class="border p-40">
      <ul class="tick-list">
        <li>.tick-list</li>
        <li>.tick-list</li>
        <li>.tick-list</li>
        <li>.tick-list</li>
      </ul>
    </div>
    <div class="bg-blue p-40">
      <ul class="tick-list white">
        <li>.tick-list</li>
        <li>.tick-list</li>
        <li>.tick-list</li>
        <li>.tick-list</li>
      </ul>
    </div>
    <div class="p-10"></div>
  </div>
</div>